img { max-width: 100%;}

main { 
        /*display: flex;
        flex-wrap: wrap;*/
     }

div { text-align: center;}
 
div#logo{
        background-image: url(".\papel-tiras-reciclagem-1024x768.jpg");
        background-size: contain;
}